<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Pear</string>
		<key>qty</key>
		<string>5</string>
		<key>price</key>
		<string>0.62</string>
		<key>category</key>
		<string>Produce</string>
		<key>notes</key>
		<string>Tasty fruit</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Notepad</string>
		<key>qty</key>
		<string>1</string>
		<key>price</key>
		<string>2.53</string>
		<key>category</key>
		<string>Office</string>
		<key>notes</key>
		<string>Good for taking notes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pencil</string>
		<key>qty</key>
		<string>12</string>
		<key>price</key>
		<string>0.35</string>
		<key>category</key>
		<string>Office</string>
		<key>notes</key>
		<string>Must have for taking notes</string>

	</dict>
	<dict>
		<key>name</key>
		<string>Bread</string>
		<key>qty</key>
		<string>2</string>
		<key>price</key>
		<string>3.12</string>
		<key>category</key>
		<string>Produce</string>
		<key>notes</key>
		<string>Only get if BOGO</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mango</string>
		<key>qty</key>
		<string>2</string>
		<key>price</key>
		<string>1.25</string>
		<key>category</key>
		<string>Produce</string>
		<key>notes</key>
		<string>Get a few more if they are on sale!!</string>
	</dict>
</array>
</plist>
